main.css Source Code,

*{
	margin: 0;
	padding: 0;
}

	/* the styles for the elements */
body {
	width: 800px;
	margin: 0 auto;
	background-color: #fffded;
	border: solid #931420 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

main aside{
	width: 215px;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

main aside h2{
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

main aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}

main aside img{
	padding-bottom: 1em;
}
a:hover, a:focus {
	font-style: italic;
}

*{
	margin: 0;
	padding: 0;
}

/* the styles for the header */
header {

	border-top: solid #931420 3px;
	padding: 1.5em 2em;
	background-image: linear-gradient(30deg,#f6bb73 0%,#f6bb73 30%,white 50%,#f6bb73 80%,#f6bb73 100% );
}
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 1em;

}

header h2 {
	font-size: 170%;
	color: #800000;


}

header h3 {
	font-size: 130%;
	font-style: italic;
	padding-bottom: 0.25em;

}

header .shadow {
	text-shadow: 2px 2px 3px #800000;
}

/* the styles for the section */
main section{
	clear: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	width: 525px;
	float: right;

}

main h1 {
	font-size: 150%;
	padding: .5em 0.3em .25em;
	margin-top: 0;
	margin-bottom: 0;
}

main h2 {
	font-size: 130%;
	color: #800000;
	padding: 0.5em 0 0.25em 0;

}

main h3 {
	font-size: 105%;
	padding-bottom: 0.25em;

}

main img{
	padding-bottom: 1em;

}
main p{
	padding-bottom: 0.5em;

}
main blockquote{
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
main ul{
	padding-bottom: 0.25em;
	padding-left: 1.25em;
}
main ul li{
	padding-bottom: 0.35em;
}

article{
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000 ;
}

article img{
	float: right;
	margin: 10px 10px 10px;
	border: 1px black;
}

article h2{
	padding-top: 0;
}

article h3{
	font-size: 105%;
	padding-bottom: .25em;

}

/* the styles for the footer */
main {


}
footer p {
	border-bottom: solid #931420 3px;
	color: white;
	clear: both;
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;

	background-color: #931420


}
 #nav_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;


}
#nav_menu ul li{
	 float: left;
 }

#nav_menu ul ul{
	display: none;
	position: absolute;
	top: 100%;
}

#nav_menu ul ul li{
	display: block;
	width:125px;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu  ul li:hover > ul{
	display: block;
}

#nav_menu ul li::after{
	content: "";
	display: block;
	clear: both;
}



#nav_menu ul li{
	float: left;
}

#nav_menu ul li a{
	display: block;
	width:125px;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu .current{
	color: yellow;
}

